body{
    background-color: lightslategrey;
    margin: 20px 40px;
    width: 100%;
}
h1{
    font-size: 32px;
    color: white;
    text-align: center;
}
textarea {
    
    vertical-align: top; 
    background-color: rgb(173, 186, 202);
}