.main_body{
    
    background-color: lightslategray;
    background-size: cover;
    background-position: center;
}
.container{
    background-color: darkgrey;
}
h1{
    background-color: maroon;
    color: white;
    font-style: italic;

}
div{
    width: fit-content;
    display: flex;
    flex-direction: column;
}

